{% extends "base.html.twig" %}
{% block body %}
	<h1>Listes des livres</h1>
	<table class="table">
		<tr>

			<th>titre</th>
			<th>prix</th>
			<th>editeur</th>
			<th>date edition</th>
			<th>categorie</th>
			<th colspan="3">action</th>
		</tr>
		{% for tab in livres %}

			<tr>


				<td>{{tab.libelle}}</td>
				<td>{{tab.prix}}</td>
				<td>{{tab.editeur}}</td>
				<td>{{tab.dateEdition|date('d/m/Y')}}</td>
				<td>{{tab.categorie.libelle}}</td>
				<td>
					<a href="{{path('app_livres_find',{'id':tab.id})}}" class="btn btn-primary">voi detail</a>
					<a href="{{path('app_livres_delete',{'id':tab.id})}}" class="btn btn-primary">supprimer</a>


					<a href="{{path('app_livres_update',{'id':tab.id})}}" class="btn btn-primary">update</a>
				</td>
			</tr>
		{% endfor %}
	</table>
	<div class="navigation">
		{{ knp_pagination_render(livres) }}
	</div>
{% endblock %}
